<!DOCTYPE html>
<html lang="en">

<head>

  <title>sparrow</title>
  <link href="css/phone.css" rel="stylesheet" type="text/css"
    media="only screen and (min-width: 0px) and (max-width: 520px)" />
  <link href="css/tablet.css" rel="stylesheet" type="text/css"
    media="only screen and (min-width: 521px) and (max-width: 768px)" /--> <link href="css/desktop.css" rel="stylesheet"
    type="text/css" />

  <script lang="javascript" src="js/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.4/chance.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
  <link rel="stylesheet" href="./css/bulma.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
    integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
    crossorigin="anonymous"></script>
  <script src="./js/alasql.min.js"></script>
  <script src="./js/jquery.js"> </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1,mininmum-scale=1,maximum-scale=1,user-scalable=no,charset='UTF-8'"
    shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="manifest" href="./manifest.webmanifest"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="WIN神App">
  <link rel="apple-touch-startup-image" href="./abc.png">
  <link rel="apple-touch-icon" href="./abc.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon" href="./abc.png">
  <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
  <div id="app" class="container">

    <center>
      <!-- old date <div v-if="selectshow" >
        <select id="sel" v-model="Select_People" @change="Select_People_Function(Select_People)">
          <option value="">請選擇人物</option>
          <option type="input" v-for="product in getParameter" value="{{ product }}">
            {{ product }}
          </option>
        </select>
      </div>
       -->
      <div v-if="selectshow">
        <a class="button is-link is-outlined" v-model="Select_People" @click="Select_People_Function(product)"
          v-for="product in getParameter" value="{{ product }}">
          {{ product }}
        </a>
      </div>
      <br v-if="selectshow">
      <br v-if="selectshow">
      <h3 class="title is-3 ">雀神 <img src="image/youtube.png" width="5%" height="5%" alt="影片教學" href=""></>
      </h3>
      每人底銀是多少: <input id="basemoney" value="800" v-model="basemoney" size="5" placeholder="底銀">
      比率: <input id="basemoney" value="0.1" v-model="rate" size="5" placeholder="例如:0.1">
      <br>
      <br>
      <h1> 底銀平均值: {{sum}} &nbsp;&nbsp;&nbsp; 底銀誤差 : {{basemonerror}}</h1>
      <br>
      <div v-if="!show">
        抽水(剩籌碼) : <input type="number" id="money1" value="" v-model="commission" size="12" @keyup='clear'
          placeholder="有多少佣金">&nbsp;&nbsp; 每人可得佣(籌碼) {{percommission}}
        <br>
        <br>
        姓名: <input type="text" id="name1" value="人物東" v-model="name1" size="10" @keyup='clear' placeholder="人物東">
        <a @click="changeNumber1">剩籌碼(含本)</a> : <input type="number" id="money1" inputmode="decimal" value=""
          v-model="money1" size="5" @keyup='clear(1)' placeholder="剩多少錢包含本金">
        <br>
        <br>
        姓名: <input type="text" id="name2" value="人物南" v-model="name2" size="10" @keyup='clear' placeholder="人物南">
        <a @click="changeNumber2">剩籌碼(含本)</a> : <input type="number" id="money2" inputmode="decimal" value=""
          v-model="money2" size="5" @keyup='clear(2)' placeholder="剩多少錢包含本金">
        <br>
        <br>
        姓名: <input type="text" id="name3" value="人物西" v-model="name3" size="10" @keyup='clear' placeholder="人物西">
        <a @click="changeNumber3">剩籌碼(含本)</a> : <input type="number" id="money3" inputmode="decimal" value=""
          v-model="money3" size="5" @keyup='clear(3)' placeholder="剩多少錢包含本金">
        <br>
        <br>
        姓名: <input type="text" id="name4" value="人物北" v-model="name4" size="10" @keyup='clear' placeholder="人物北">
        <a @click="changeNumber4">剩籌碼(含本)</a> : <input type="number" id="money4" inputmode="decimal" value=""
          v-model="money4" size="0" @keyup='clear(4)' placeholder="剩多少錢包含本金">
        <br>
        <br>
        <button class="button is-success" @click="branchimportswitchs">提交</button>&nbsp;
        <button class="button is-warning" @click="reload">清空</button>

      </div>
      <div v-if="show">
        <div class="box">
          <span>
            <div class="flex-align-title">
              <table>
                <span><a class="title is-3 ">個人明細</a></span>
                <tr>
                  <td>姓名</td>
                  <td>↠</td>
                  <td> 原本</td>
                  <td v-if="percommission">+</td>
                  <td v-if="percommission" >佣金</td>
                  <td> = </td>
                  <td>籌碼*比率</td>
                  <td>↠</td>
                  <td>總數(金額)</td>
                </tr>

                <tr>
                  <td>{{name1}} </td>
                  <td>↠</td>
                  <td>{{omoney1}}</td>
                  <td v-if="percommission">+</td>
                  <td v-if="percommission" >{{percommission}} </td>
                  <td> = </td>
                  <td>{{money1}}*{{rate}}</td>
                  <td>↠</td>
                  <td>{{lastmoney1}}</td>
                </tr>

                <tr>
                  <td>{{name2}} </td>
                  <td>↠</td>
                  <td>{{omoney2}}</td>
                  <td v-if="percommission" >+</td>
                  <td v-if="percommission">{{percommission}} </td>
                  <td> = </td>
                  <td>{{money2}}*{{rate}}</td>
                  <td>↠</td>
                  <td>{{lastmoney2}}</td>
                </tr>

                <tr>
                  <td>{{name3}} </td>
                  <td>↠</td>
                  <td>{{omoney3}}</td>
                  <td v-if="percommission" >+</td>
                  <td v-if="percommission" >{{percommission}} </td>
                  <td> = </td>
                  <td>{{money3}}*{{rate}}</td>
                  <td>↠</td>
                  <td>{{lastmoney3}}</td>
                </tr>

                <tr>
                  <td>{{name4}} </td>
                  <td>↠</td>
                  <td>{{omoney4}}</td>
                  <td v-if="percommission" >+</td>
                  <td v-if="percommission" >{{percommission}} </td>
                  <td> = </td>
                  <td>{{money4}}*{{rate}}</td>
                  <td>↠</td>
                  <td>{{lastmoney4}}</td>
                </tr>
          </span>
          <br>
          </table>
        </div>
      </div>
      <br>
  </div>
  <div v-if="show">
    <a>{{nowDay}} {{nowTime}} </a>
    <br>
    ↞ ------------------------------↠
    <br>
    <span><a class="title is-3 ">請跟指示進行結算 </a></span>
    <span class="flex-align-title"></span>
  </div>
  <h1 id="paypaypay"> </h1>
  <div v-if="show">
    ↞ ------------------------------↠
    <br>
    <button class="button is-warning" @click="reload">重置</button>
  </div>
  <br>
  </div>
  </div>
  <br>
  </center>
  </div>
  <style>
    input[type='number'] {
      width: 90px;
    }

    .flex-align-title {
      text-align: center;
      width: 95%;
    }

    .flex-align-title span {
      text-align: left;
      display: inline-block;
    }

    #app {
      padding: 40px 0;
    }

    .m-pagination .is-space {
      width: 20px;
    }

    .m-table {
      margin-top: 20px;
    }

    .m-table tr th {
      background: #c0c0c0;
      color: #393939;
    }

    .m-table-index {
      width: 20px;
    }

    .m-tags-items {
      margin-top: 5px;
      height: 60px;
      overflow-y: scroll;
    }

    .m-tags-items .tag {
      margin-bottom: 5px;
      margin-right: 3px;
    }
  </style>
  <script>
    // window.onload=function () {
    //     document.addEventListener('touchstart',function (event) {
    //       if(event.touches.length>1){
    //         event.preventDefault();
    //       }
    //     });
    //     var lastTouchEnd=0;
    //     document.addEventListener('touchend',function (event) {
    //       var now=(new Date()).getTime();
    //       if(now-lastTouchEnd<=300){
    //         event.preventDefault();
    //       }
    //       lastTouchEnd=now;
    //     },false);
    //     document.addEventListener('gesturestart', function (event) {
    //       event.preventDefault();
    //     });
    //   }

    // window.onload = function () {
    //   document.addEventListener('touchstart', function (event) {
    //     if (event.touches.length > 1) {
    //       event.preventDefault();
    //     }
    //   })
    //   var lastTouchEnd = 0;
    //   document.addEventListener('touchend', function (event) {
    //     var now = (new Date()).getTime();
    //     if (now - lastTouchEnd <= 300) {
    //       event.preventDefault();
    //     }
    //     lastTouchEnd = now;
    //   }, false)
    // }

    new Vue({
      el: "#app",
      data: {
        nowDay: '',
        nowTime: '',
        selectshow: false,
        lastmoney1: 0,
        lastmoney2: 0,
        lastmoney3: 0,
        lastmoney4: 0,
        omoney1: 0,
        omoney2: 0,
        omoney3: 0,
        omoney4: 0,
        percommission: 0,
        commission: 0,
        show: false,
        rate: 0,
        basemoney: '',
        name1: '',
        name2: '',
        name3: '',
        name4: '',
        money1: 0,
        money2: 0,
        money3: 0,
        money4: 0,
        count: [],
        changeNumberCounter1: 0,
        changeNumbneCountersave1: 0,
        changeNumberCounter2: 0,
        changeNumbneCountersave2: 0,
        changeNumberCounter3: 0,
        changeNumbneCountersave3: 0,
        changeNumberCounter4: 0,
        changeNumbneCountersave4: 0,
        getParameter: [],
        Select_People: 0,
        Select_Peoplenumber: 0,
        Dont_Double_Select_People: '' ,
      },
      ready() {
        this.getParameters();
        this.clear();
      },
      created() {
        this.nowTimes();
      },
      mounted() {
        this.nowTimes();
      },

      computed: {
        sum: function () {
          let money1 = this.money1;
          let money2 = this.money2;
          let money3 = this.money3;
          let money4 = this.money4;
          let commission = this.commission;

          if (this.money1 == '') {
            money1 = 0;
          }
          if (this.money2 == '') {
            money2 = 0;
          }
          if (this.money3 == '') {
            money3 = 0;
          }
          if (this.money4 == '') {
            money4 = 0;
          }
          if (this.commission == '') {
            commission = 0;
          }

          return (parseFloat(money1) + parseFloat(money2) + parseFloat(money3) + parseFloat(
            money4) + parseFloat(commission)) / 4;
        },
        basemonerror: function () {
          let money1 = this.money1;
          let money2 = this.money2;
          let money3 = this.money3;
          let money4 = this.money4;
          let commission = this.commission;

          if (this.money1 == '') {
            money1 = 0;
          }
          if (this.money2 == '') {
            money2 = 0;
          }
          if (this.money3 == '') {
            money3 = 0;
          }
          if (this.money4 == '') {
            money4 = 0;
          }
          if (this.commission == '') {
            commission = 0;
          }
          return this.basemoney * 4 - (parseFloat(money1) + parseFloat(money2) + parseFloat(money3) + parseFloat(
            money4) + parseFloat(commission));
        }
      },
      methods: {
        timeFormate(timeStamp) {
          let newdate = new Date(timeStamp);
          let week = ['日', '一', '二', '三', '四', '五', '六'];

          let year = newdate.getFullYear();
          let month = newdate.getMonth() + 1 < 10 ? "0" + (newdate.getMonth() + 1) : newdate.getMonth() + 1;
          let date = newdate.getDate() < 10 ? "0" + newdate.getDate() : newdate.getDate();
          let hh = newdate.getHours() < 10 ? "0" + newdate.getHours() : newdate.getHours();
          let mm = newdate.getMinutes() < 10 ? "0" + newdate.getMinutes() : newdate.getMinutes();
          let ss = newdate.getSeconds() < 10 ? "0" + newdate.getSeconds() : newdate.getSeconds();

          this.nowTime = hh + ":" + mm + ":" + ss;
          this.nowDay = year + "年" + month + "月" + date + "日";
        },

        nowTimes() {
          let self = this;
          self.timeFormate(new Date());
          setInterval(function () {
            self.timeFormate(new Date());
          }, 1000);
        },
        Select_People_Function(Select_People) {

          if(this.Dont_Double_Select_People == Select_People){
            this.Select_Peoplenumber -= 1;
          }

          this.Dont_Double_Select_People = Select_People ;
          let count = this.Select_Peoplenumber % 4;
          console.log("目前是按了第幾次", count);
          console.log(Select_People);

          if (count == 0) {
            this.name1 = Select_People;
          } else if (count == 1) {
            this.name2 = Select_People;
          } else if (count == 2) {
            this.name3 = Select_People;
          } else if (count == 3) {
            this.name4 = Select_People;
          }
          
            this.Select_Peoplenumber += 1;
        },
        getParameters() {
          let urlString = window.location.href
          if (urlString.indexOf("?a=") != -1 || urlString.indexOf("?A=") != -1) {
            this.selectshow = true;
            let paramString = urlString.split('?')[1];
            let queryString = new URLSearchParams(paramString);
            for (let pair of queryString.entries()) {
              this.getParameter.push(pair[1])
              // console.log("Key is:" + pair[0]);
              // console.log("Value is:" + pair[1]);
            }
            this.basemoney = this.getParameter[0];
            this.rate = this.getParameter[1];

            this.getParameter.splice(0, 2)

            if (urlString.indexOf(",") != -1) {
              this.getParameter = this.getParameter[0].split(',')
            }
            console.log(this.getParameter)
          }
        },
        changeNumber1() {
          console.log(this.changeNumberCounter1)

          if (this.changeNumberCounter1 == 0) {
            if (parseFloat(this.money1) < parseFloat(this.basemoney)) {
              this.changeNumbneCountersave1 = this.money1;
              this.money1 = parseFloat(this.money1) + parseFloat(this.basemoney);
            } else {
              this.changeNumberCounter1 = -1;
            }
          } else if (this.changeNumberCounter1 == 1) {
            this.money1 = this.changeNumbneCountersave1;
            this.money1 = parseFloat(this.basemoney) - Math.abs(parseFloat(this.money1));
          } else {
            this.money1 = this.changeNumbneCountersave1;
          }
          this.changeNumberCounter1 = (this.changeNumberCounter1 + parseInt(1)) % 3;
        },
        changeNumber2() {
          if (this.changeNumberCounter2 == 0) {
            if (parseFloat(this.money2) < parseFloat(this.basemoney)) {
              this.changeNumbneCountersave2 = this.money2;
              this.money2 = parseFloat(this.money2) + parseFloat(this.basemoney);
            } else {
              this.changeNumberCounter2 = -1;
            }
          } else if (this.changeNumberCounter2 == 1) {
            this.money2 = this.changeNumbneCountersave2
            this.money2 = parseFloat(this.basemoney) - Math.abs(parseFloat(this.money2));
          } else {
            this.money2 = this.changeNumbneCountersave2
          }
          this.changeNumberCounter2 = (this.changeNumberCounter2 + parseInt(1)) % 3
          console.log(this.changeNumberCounter2)
        },
        changeNumber3() {
          if (this.changeNumberCounter3 == 0) {
            if (parseFloat(this.money3) < parseFloat(this.basemoney)) {
              this.changeNumbneCountersave3 = this.money3;
              this.money3 = parseFloat(this.money3) + parseFloat(this.basemoney);
            } else {
              this.changeNumberCounter3 = -1;
            }
          } else if (this.changeNumberCounter3 == 1) {
            this.money3 = this.changeNumbneCountersave3
            this.money3 = parseFloat(this.basemoney) - Math.abs(parseFloat(this.money3));
          } else {
            this.money3 = this.changeNumbneCountersave3
          }
          this.changeNumberCounter3 = (this.changeNumberCounter3 + parseInt(1)) % 3
          console.log(this.changeNumberCounter3)
        },
        changeNumber4() {
          if (this.changeNumberCounter4 == 0) {
            if (parseFloat(this.money4) < parseFloat(this.basemoney)) {
              this.changeNumbneCountersave4 = this.money4;
              this.money4 = parseFloat(this.money4) + parseFloat(this.basemoney);
            } else {
              this.changeNumberCounter4 = -1;
            }
          } else if (this.changeNumberCounter4 == 1) {
            this.money4 = this.changeNumbneCountersave4
            this.money4 = parseFloat(this.basemoney) - Math.abs(parseFloat(this.money4));
          } else {
            this.money4 = this.changeNumbneCountersave4
          }
          this.changeNumberCounter4 = (this.changeNumberCounter4 + parseInt(1)) % 3
          console.log(this.changeNumberCounter4)
        },

        reload() {
          if (this.show == false) {
            if (confirm("是否要進行清空")) {
              this.rate = '';
              this.commission = '';
              this.percommission = 0;
              this.basemoney = '';
              this.name1 = '';
              this.name2 = '';
              this.name3 = '';
              this.name4 = '';
              this.money1 = '';
              this.money2 = '';
              this.money3 = '';
              this.money4 = '';
            }
          }
          if (this.show == true) {
            if (confirm("按確定重置數據, 清空數據前請截圖保存")) {
              window.location.reload();
            }
          }
        },
        clear(changeNumberCounter) {
          this.percommission = this.commission / 4;
          this.show = false;
          document.getElementById("paypaypay").innerHTML = "";

          if (changeNumberCounter == 1) {
            this.changeNumberCounter1 = 0;
          }

          if (changeNumberCounter == 2) {
            this.changeNumberCounter2 = 0;
          }

          if (changeNumberCounter == 3) {
            this.changeNumberCounter3 = 0;
          }

          if (changeNumberCounter == 4) {
            this.changeNumberCounter4 = 0;
          }
        },
        branchimportswitchs() {

          this.omoney1 = 1;
          this.show = true;
          this.selectshow = false;
          document.getElementById("paypaypay").innerHTML = "";

          if (this.commission == '') {
            this.commission = 0;
          }

          test = parseFloat(this.money1) + parseFloat(this.money2) + parseFloat(this.money3) + parseFloat(this
            .money4) + parseFloat(this.commission);

          if (this.name1 == '' || this.name2 == '' || this.name3 == '' || this.name4 == '') {
            alert("請輸入姓名");
            this.show = false;
            return;
          }

          if (test != this.basemoney * 4) {
            alert("出錯了,輸入金額錯誤,底銀誤差必須為0");
            this.show = false;
            return;
          }
          this.omoney1 = parseFloat(this.money1);
          this.omoney2 = parseFloat(this.money2);
          this.omoney3 = parseFloat(this.money3);
          this.omoney4 = parseFloat(this.money4);

          this.money1 = parseFloat(this.money1) + parseFloat(this.commission) / 4;
          this.money2 = parseFloat(this.money2) + parseFloat(this.commission) / 4;
          this.money3 = parseFloat(this.money3) + parseFloat(this.commission) / 4;
          this.money4 = parseFloat(this.money4) + parseFloat(this.commission) / 4;
          this.commission = 0;
          this.count = [{
              "name": this.name1,
              "money": this.money1,
            },
            {
              "name": this.name2,
              "money": this.money2,
            },
            {
              "name": this.name3,
              "money": this.money3,
            },
            {
              "name": this.name4,
              "money": this.money4,
            },
          ]
          for (let i = 0; i < this.count.length; i++) {
            this.count[i].money = this.count[i].money - this.basemoney;
          }

          this.lastmoney1 = (this.count[0].money * this.rate).toFixed(2);
          this.lastmoney2 = (this.count[1].money * this.rate).toFixed(2);
          this.lastmoney3 = (this.count[2].money * this.rate).toFixed(2);
          this.lastmoney4 = (this.count[3].money * this.rate).toFixed(2);

          this.sortByKey(this.count, 'money');
          this.wtfwhocare(this.count);
        },
        sortByKey(array, key) { //排序JSON 
          return array.sort(function (a, b) {
            var x = a[key];
            var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
          });
        },

        wtfwhocare(wtf) {
          let people = wtf.length - 1;
          for (let i = 0; i <= people; i++) //print 人數 
          {
            if (wtf[people].money > wtf[i].money) {
              let x, y, z;
              x = wtf[i].money;
              y = wtf[people].money;
              z = x + y;
              wtf[i].money = wtf[people].money + wtf[i].money;

              if (z > 0) {
                if (x * -1 != 0) {
                  let output3 = x * -1;
                  let outputok3 = output3.toFixed(2);
                  $('#paypaypay').append(
                    `${wtf[i].name} ➜ ${wtf[people].name}  `
                  );
                }

              } else {
                if (y != 0) {
                  let output4 = x * -1;
                  let outputok4 = output4.toFixed(2);

                  $('#paypaypay').append(
                    `${wtf[i].name} ➜ ${wtf[people].name}`
                  );
                }
              }

              if (wtf[i].money != 0) {
                i = i - 1;
              }

              if (z > 0) {
                wtf[people].money = z;
                if (x * -1 != 0) {
                  let output1 = x * -1;
                  outputok1 = (output1 * this.rate).toFixed(1);
                  $('#paypaypay').append(`<p style="color:red" >${outputok1} 元 <br></p>`);
                }
                z = 0;
              } else {
                people = people - 1;
                if (y != 0) {
                  let output2 = y;
                  outputok2 = (output2 * this.rate).toFixed(1);
                  $('#paypaypay').append(`<p style="color:red" >${outputok2} 元<br></p>`);
                }
              }
            }
          }
        },
      }
    });
  </script>
</body>

</html>